<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/" class="app-brand-link">
            
            <span class="app-brand-text demo menu-text fw-bold ms-2">پنل مدیریت</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx menu-toggle-icon d-none d-xl-block fs-4 align-middle"></i>
            <i class="bx bx-x d-block d-xl-none bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-divider mt-0"></div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        
    <li class="menu-header small text-uppercase"><span class="menu-header-text">احراز هویت</span></li>
        <!-- Layouts -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="fa-solid fa-id-card-clip"></i>
                <div class="p-1">‌نقش ها</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="menu-link">
                        <div class="p-1">لیست نقش ها</div>
                    </a>
                </li>
             
                <li class="menu-item">
                    <a asp-area ="Admin" asp-controller="Role" asp-action="Create"  class="menu-link">
                        <div class="p-1"> افزودن نقش جدید </div>
                    </a>
                </li>
                
                

            </ul>
        </li>

        <!-- Layouts -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="fa-solid fa-users"></i>
                <div class="p-1">‌ کاربران</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item">
                    <a asp-area="Admin" asp-controller="User" asp-action="Index" class="menu-link">
                        <div class="p-1">لیست کاربران </div>
                    </a>
                </li>

                <li class="menu-item">
                    <a asp-area="Admin" asp-controller="User" asp-action="Create" class="menu-link">
                        <div class="p-1"> افزودن کاربر جدید </div>
                    </a>
                </li>
            </ul>
        </li>

       
      
    </ul>
</aside>