
@{
    ViewData["Title"] = "ورود به سایت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-4 col-xl-4 offset-lg-4 offset-xl-4 col-12">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                      
                        <h4 class="mb-3 secondary-font">به تترون جاب خوش آمدید!</h4>
                        <p class="mb-4">لطفا وارد حساب خود شده و ماجراجویی را شروع کنید</p>

                        <form id="formAuthentication" class="mb-3 fv-plugins-bootstrap5 fv-plugins-framework" action="index.html" method="POST" novalidate="novalidate">
                            <div class="mb-3 fv-plugins-icon-container">
                                <label for="email" class="form-label">ایمیل یا نام کاربری</label>
                                <input type="text" class="form-control text-start" id="email" name="email-username" placeholder="ایمیل یا نام کاربری خود را وارد کنید" autofocus="" dir="ltr">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="mb-3 form-password-toggle fv-plugins-icon-container">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">رمز عبور</label>
                                    <a href="auth-forgot-password-basic.html">
                                        <small>رمز عبور را فراموش کردید؟</small>
                                    </a>
                                </div>
                                <div class="input-group input-group-merge has-validation">
                                    <input type="password" id="password" class="form-control text-start" name="password" placeholder="············" aria-describedby="password" dir="ltr">
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div><div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me">
                                    <label class="form-check-label" for="remember-me"> به خاطر سپاری </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-pink text-white d-grid w-100" type="submit">ورود</button>
                            </div>
                            <input type="hidden">
                        </form>

                        <p class="text-center">
                            <span>کاربر جدید هستید؟</span>
                            <a href="auth-register-basic.html">
                                <span>یک حساب بسازید</span>
                            </a>
                        </p>

                        <div class="divider my-4">
                            <div class="divider-text">  <a class="text-center" href="/">
                                <span>ورود با رمز یکبار مصرف</span>
                            </a></div>
                        </div>

                      
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>
</div>