@{
    ViewData["Title"] = "صفحه اصلی";
}


<div clss="row">
    <div class="col-12">
    
        <div id="swiper-gallery">
            <div class="swiper gallery-top swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl swiper-backface-hidden">
                <div class="swiper-wrapper" id="swiper-wrapper-d19e12c92e9ef73e" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                    <div class="swiper-slide swiper-slide-active" style="background-image: url(../../assets/img/backgrounds/6.jpg ); width: 1380px; margin-left: 10px;" role="group" aria-label="1 / 5">
                        اسلاید 1
                    </div>
                    <div class="swiper-slide swiper-slide-next" style="background-image: url(../../assets/img/backgrounds/5.jpg ); width: 1380px; margin-left: 10px;" role="group" aria-label="2 / 5">
                        اسلاید 2
                    </div>
                    <div class="swiper-slide" style="background-image: url(../../assets/img/backgrounds/7.jpg); width: 1380px; margin-left: 10px;" role="group" aria-label="3 / 5">
                        اسلاید 3
                    </div>
                    <div class="swiper-slide" style="background-image: url(../../assets/img/backgrounds/10.jpg); width: 1380px; margin-left: 10px;" role="group" aria-label="4 / 5">
                        اسلاید 4
                    </div>
                    <div class="swiper-slide" style="background-image: url(../../assets/img/backgrounds/16.jpg); width: 1380px; margin-left: 10px;" role="group" aria-label="5 / 5">
                        اسلاید 5
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-d19e12c92e9ef73e" aria-disabled="false"></div>
                <div class="swiper-button-prev swiper-button-white swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-d19e12c92e9ef73e" aria-disabled="true"></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <div class="swiper gallery-thumbs swiper-initialized swiper-horizontal swiper-pointer-events swiper-free-mode swiper-rtl swiper-watch-progress swiper-backface-hidden swiper-thumbs">
                <div class="swiper-wrapper" id="swiper-wrapper-256a9d9f182bc6fe" aria-live="polite" style="transition-duration: 0ms;">
                    <div class="swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" style="background-image: url( ../../assets/img/backgrounds/6.jpg ); width: 337.5px; margin-left: 10px;" role="group" aria-label="1 / 5">
                        اسلاید 1
                    </div>
                    <div class="swiper-slide swiper-slide-visible swiper-slide-next" style="background-image: url( ../../assets/img/backgrounds/5.jpg ); width: 337.5px; margin-left: 10px;" role="group" aria-label="2 / 5">
                        اسلاید 2
                    </div>
                    <div class="swiper-slide swiper-slide-visible" style="background-image: url( ../../assets/img/backgrounds/7.jpg ); width: 337.5px; margin-left: 10px;" role="group" aria-label="3 / 5">
                        اسلاید 3
                    </div>
                    <div class="swiper-slide swiper-slide-visible" style="background-image: url( ../../assets/img/backgrounds/10.jpg ); width: 337.5px; margin-left: 10px;" role="group" aria-label="4 / 5">
                        اسلاید 4
                    </div>
                    <div class="swiper-slide" style="background-image: url( ../../assets/img/backgrounds/16.jpg ); width: 337.5px; margin-left: 10px;" role="group" aria-label="5 / 5">
                        اسلاید 5
                    </div>
                </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
    </div>
</div>





<div class="row ">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                    <img class="img-box" src="https://tetronjob.com/staticfile/image/Placement.png" />
                </div>
                <a href="#" class="btn btn-sm btn-pink text-white mt-3">مشاهده اشتراک گذاری</a>
            </div>
        </div>
    </div>


    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                    <img class="img-box" src="https://tetronjob.com/staticfile/image/Introduction.png" />
                </div>
                <a href="#" class="btn btn-sm btn-pink text-white mt-3">مشاهده آماده همکاری</a>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                    <img class="img-box" src="https://tetronjob.com/staticfile/image/Recruitment.png" />
                </div>
                <a href="#" class="btn btn-sm btn-pink text-white mt-3">مشاهده نیاز نیرو</a>
            </div>
        </div>
    </div>



    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4">
        <a asp-controller="Advertising" asp-action="RequestIntroduction">
            <div class="card text-center card-tetron">
                <div class="card-body">
                    <div class="justify-content-center">
                        <img class="img-box" src="https://tetronjob.com/staticfile/image/Hired-bro.png" />
                    </div>
                    <a asp-controller="Advertising" asp-action="RequestIntroduction" class="btn btn-sm btn-blue text-dark mt-3">ثبت اشتراک گذاری</a>
                </div>
            </div>
        </a>
    </div>





    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4"><a asp-controller="Advertising" asp-action="RequestPlacement">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                    <img class="img-box" src="https://tetronjob.com/staticfile/image/Freelancer-cuate.png" />
                </div>
                <a asp-controller="Advertising" asp-action="RequestPlacement" class="btn btn-sm btn-blue text-dark mt-3">ثبت آماده همکاری</a>
            </div>
        </div></a>
    </div>




    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6 mb-4"><a asp-controller="Advertising" asp-action="RequestRecruitment">
        <div class="card text-center card-tetron">
            <div class="card-body">
                <div class="justify-content-center">
                    <img class="img-box" src="https://tetronjob.com/staticfile/image/Company-amico.png" />
                </div>
                <a asp-controller="Advertising" asp-action="RequestRecruitment" class="btn btn-sm btn-blue text-dark mt-3">ثبت نیاز نیرو</a>
            </div>
            </div>
        </a>
    </div>




</div>
<div class="row mb-5">



    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-4">
        <a href="/">
            <div class="card card-bg p-2">
                <div class="card-body primary-font">
                    <div class="overlay justify-content-center">
                        <h5 class="text-white mb-5 p-3">
                            لیست طراحان لباس
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-4">
        <a href="/">
            <div class="card card-bg p-2">
                <div class="card-body primary-font">
                    <div class="overlay justify-content-center">
                        <h5 class="text-white mb-5 p-3">
                            لیست طراحان لباس
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-4">
        <a href="/">
            <div class="card card-bg p-2">
                <div class="card-body primary-font">
                    <div class="overlay justify-content-center">
                        <h5 class="text-white mb-5 p-3">
                            لیست طراحان لباس
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-4">
        <a href="/">
            <div class="card card-bg p-2">
                <div class="card-body primary-font">
                    <div class="overlay justify-content-center">
                        <h5 class="text-white mb-5 p-3">
                            لیست طراحان لباس
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-4">
        <a href="/">
            <div class="card card-bg p-2">
                <div class="card-body primary-font">
                    <div class="overlay justify-content-center">
                        <h5 class="text-white mb-5 p-3">
                            لیست طراحان لباس
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-4">
        <a href="/">
            <div class="card card-bg p-2">
                <div class="card-body primary-font">
                    <div class="overlay justify-content-center">
                        <h5 class="text-white mb-5 p-3">
                            لیست طراحان لباس
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-4">
        <a href="/">
            <div class="card card-bg p-2">
                <div class="card-body primary-font">
                    <div class="overlay justify-content-center">
                        <h5 class="text-white mb-5 p-3">
                            لیست طراحان لباس
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mt-1 mb-4">
        <a href="/">
            <div class="card card-bg p-2">
                <div class="card-body primary-font">
                    <div class="overlay justify-content-center">
                        <h5 class="text-white mb-5 p-3">
                            لیست طراحان لباس
                        </h5>
                    </div>
                </div>
            </div>
        </a>
    </div>

</div>

