
@{
    ViewData["Title"] = "لیست مقالات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row mb-5">
    <nav aria-label="breadcrumb">
        <ol class="lh-1-85 breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">خانه</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/">دسته بندی مقالات</a>
            </li>
            <li class="breadcrumb-item active text-pink"> دوخت و الگو  </li>
        </ol>
    </nav>
    <div class="col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
            <img class="card-img-top" height="200" src="~/assets/img/elements/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> آموزش خیاطی</h5>

                <a href="javascript:void(0)" class="btn btn-pink btn-sm text-white ">گزینه نمایشی</a>
                <p class="card-text">
                    <small class="text-muted">آخرین به روز رسانی 3 دقیقه پیش</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
            <img class="card-img-top" height="200" src="~/assets/img/elements/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> آموزش خیاطی</h5>

                <a href="javascript:void(0)" class="btn btn-pink btn-sm text-white ">گزینه نمایشی</a>
                <p class="card-text">
                    <small class="text-muted">آخرین به روز رسانی 3 دقیقه پیش</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
            <img class="card-img-top" height="200" src="~/assets/img/elements/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> آموزش خیاطی</h5>

                <a href="javascript:void(0)" class="btn btn-pink btn-sm text-white ">گزینه نمایشی</a>
                <p class="card-text">
                    <small class="text-muted">آخرین به روز رسانی 3 دقیقه پیش</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-3">
        <div class="card h-100">
            <img class="card-img-top" height="200" src="~/assets/img/elements/2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> آموزش خیاطی</h5>

                <a href="javascript:void(0)" class="btn btn-pink btn-sm text-white ">گزینه نمایشی</a>
                <p class="card-text">
                    <small class="text-muted">آخرین به روز رسانی 3 دقیقه پیش</small>
                </p>
            </div>
        </div>
    </div>
</div>